@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans|Work+Sans:600");

:root {
  --mainBGColor: #0e0b16;
  --textMain: #e7dfdd;
  --highlightPurple: #a239ca;
  --highlightBlue: #4717f6;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--mainBGColor);
  color: var(--textMain);
  font-family: "Quattrocento Sans", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  color: var(--textMain);
}
