.introContainer {
  margin-top: 1vw;
  height: 12vw;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.nameAndStatement {
  display: flex;
  height: 100%;
  width: 100%;
}

.nameAndNav {
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  max-width: 26%;
  min-width: 26%;
  transform: skewX(-10deg) translateX(1vw);
}

.personalStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.personalStatement h3 {
  font-size: 2.7vw;
  margin-block-start: 0;
  margin-block-end: 0;
}

.personalStatement p {
  font-size: 1.5vw;
  margin-block-start: 1vw;
  margin-block-end: 0;
}

.separator {
  margin-top: 0.5vw;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--highlightPurple) 45%,
    var(--textMain) 46%,
    var(--textMain) 47%,
    transparent 48%
  );
  background-size: 250% 100%;
  animation: swipeRight 0.7s ease-in-out both;
}

.nameAndNav h2 {
  margin-block-start: 0;
  font-size: 2.3vw;
  margin-block-end: 0;
  color: var(--highlightPurple);
}

@keyframes swipeRight {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 15%;
  }
}

@media only screen and (max-device-width: 768px) {
  .introContainer {
    width: 100%;
  }
}
