.grid {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  justify-items: stretch;
  align-items: stretch;
}
